name: Node CI

on:
  push:
    branches: [master]

jobs:
  build:
    name: Build Checks
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - uses: actions/checkout@v1
      - name: nodeJS unit test
        run: |
          npm install
          npm i -D mocha supertest
          npm run test

      - uses: actions/checkout@v1
      - name: reactJS unit test
        run: |
          cd client
          npm install
          npm run build
          ls

  # deploy:
  #   runs-on: ubuntu-latest

  #   steps:
  #     - uses: actions/checkout@v1
  #     - name: deploy on EC2
  #       run: |
  #         curl "https://awscli.amazonaws.com/awscli-exe-linux-x86_64.zip" -o "awscliv2.zip"
  #         unzip awscliv2.zip
  #         sudo ./aws/install
  #         aws --version
